PORT=8080
DATABASE_DRIVER=sqlite
DATABASE_DSN=order-demo.db

# Docker + PostgreSQL
# DATABASE_DRIVER=postgres
# DATABASE_DSN=host=postgres user=postgres password=postgres dbname=orders_demo port=5432 sslmode=disable
